<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANIMALITOS</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="icon" href="img/cerdo.png">
</head>
<body>
    <header>
        <label for="" class="brand">
            <a href=""><img src="img/mono.png" alt="logo" ></a>
        </label>
        <nav class="navigation">
            <a href="index.html">Home</a>
            <a href="nosotros.html">Nosotros</a>
            <a href="#">Productos</a>
            <a href="contacto.html">Contacto</a>
            <button onclick="login()"class="btn"> LogIn
            </button>
            <script>
                function login() {
                    window.location.href="otro.html";
                }
            </script>
        </nav>
    </header>

    <main>
        <section id="banner">
            <img src="img/fondo-inicio.jpg" >
            <div class="contenedor">
                <h2>Por más travesuras </h2>
                <p>Quien es el mejor amigo para usted?</p>
            </div>
        </section>
        <section>
            <h1 class="imagenes">CLIENTES</h1>
            <div class="kodfun-galeri" id="container">
                <div style="background-image: url('img/19.jpg');"></div>
                <div style="background-image: url('img/18.jpg');"></div>
                <div style="background-image: url('img/17.jpg');"></div>
                <div style="background-image: url('img/13.jpg');"></div>
                <div style="background-image: url('img/15.jpg');"></div>
            </div>
        </section>
    
    </main>
    <hr>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>8296312</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; | ANIMALITOS |</h2>
    </footer>

    <script src="script.js"></script>
    

    

</body>
</html>