<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ANIMALITOS</title>
    <link rel="icon" href="img/cerdo.png">
    <link rel="stylesheet" href="css/nosotros.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <label for="" class="brand">
            <a href=""><img src="img/mono.png" alt="logo" ></a>
        </label>
        <nav class="navigation">
            <a href="index.html">Home</a>
            <a href="nosotros.html">Nosotros</a>
            <a href="#">Productos</a>
            <a href="contacto.html">Contacto</a>
            <button onclick="login()"class="btn"> LogIn
            </button>
            <script>
                function login() {
                    window.location.href="otro.html";
                }
            </script>
        </nav>
    </header>
    <hr>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Nosotros</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="img/au.webp" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>El futuro de la veterinaria es mejorar la calidad de nuestra organizacion</p>
                    <h3><span>2</span>Quienes somos?</h3>
                    <p>Somos una veterinaria que tiene como objetivo satisfacer a sus clientes y brindarles
                        el mejro servicio a la hora de atender,vender y dar informacion sobre sus animales
                    </p>
                </div>
            </div>
        </section>
        <hr>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Un poco de nosotros</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="img/tuqui.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/cachorro.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/japi.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/cachorro.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/facha.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/cachorro.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/wtf.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    
                    
                    
                   
                </div>
            </div>
        </section>
        <hr>
        <section class="clientes contenedor">
            <h2 class="titulo">Que dicen nuestros clientes</h2>
            <div class="cards">
                <div class="card">
                    <img src="img/chiki.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Chiki</h4>
                        <p>Tienen buenos productos, me gusta la calidad y amabilidad de la atencion  </p>
                    </div>
                </div>
                <div class="card">
                    <img src="img/pug.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Jack</h4>
                        <p>Me atendieron bastante bien, muy responsables</p>
                    </div>
                </div>
            </div>
        </section>
        <hr>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>8296312</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; AlexCG Design | Jordan Alexander</h2>
    </footer>
</body>

</html>